body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.form-check-input {
  width: 18px;
  height: 18px;
}

.desktop-menu {
  display: flex !important;
}

.m-left-auto {
  margin-left: auto;
}

.cursor-intitial {
  cursor: initial;
}

.cursor-pointer {
  cursor: pointer !important;
}

.invalid-feedback {
  color: crimson;
}

.vertical-align {
  vertical-align: middle;
}

.d-flex {
  display: flex !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-end {
  align-items: flex-end;
}

.flex-row {
  flex-direction: row !important;
}

.ml-2 {
  margin-left: 0.5rem !important;
}

.mr-2 {
  margin-right: 0.5rem !important;
}

.ml-3 {
  margin-left: 1rem !important;
}

.mr-3 {
  margin-right: 1rem !important;
}

.mr-4 {
  margin-right: 1.5rem !important;
}

.ml-4 {
  margin-left: 1.5rem !important;
}

.mr-auto {
  margin-right: auto !important;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.px-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.pl-2 {
  padding-left: 0.5rem !important;
}

.px-2 {
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
}

.px-3 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.px-4 {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

.pt-4 {
  padding-top: 1.5rem !important;
}

.p-4 {
  padding: 1.5rem 1.5rem !important;
}

.p-2 {
  padding: 0.5rem 0.5rem !important;
}

.pt-2 {
  padding-top: 0.5rem !important;
}

.pb-3 {
  padding-bottom: 1rem !important;
}

.pt-3 {
  padding-top: 1rem !important;
}

.pr-3 {
  padding-right: 1rem !important;
}

.pb-5 {
  padding-bottom: 3rem !important;
}

.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.pt-5 {
  padding-top: 2rem !important;
}
.pl-0 {
  padding-left: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.padding-6 {
  padding: 2rem 0 0rem;
}

.border-left {
  border-left: 3px solid #fff !important;
}

.border-left-0 {
  border-left: 0 !important;
}

.border-top-0 {
  border-top: 0 !important;
}

.border-right {
  border-right: 3px solid #fff !important;
}

.border-right-0 {
  border-right: 0 !important;
}

.border-bottom {
  border-bottom: 3px solid #fff !important;
}

.border-bottom-0 {
  border-bottom: 0 !important;
}

.text-decoration-none {
  text-decoration: none;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.color-red {
  color: crimson !important;
}

.color-light-blue {
  color: cyan;
}

.color-black {
  color: #000 !important;
}

.color-gold {
  color: #f3b543 !important;
}

.color-blue {
  color: dodgerblue !important;
}

/* .color-grey {
  color: #5e5c5c;
}

.color-grey:focus {
  color: #5e5c5c;
} */

.color-green {
  color: #42a369 !important;
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

.w-75 {
  width: 75% !important;
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.padding-top-7 {
  padding-top: 3rem;
}

.justify-content-center {
  justify-content: center;
}

.title-text {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.title-text h2 {
  font-size: 4rem;
  font-weight: 500;
  margin: 0;
  color: #fff;
  line-height: 1.2 !important;
}

.about-description {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 1px;
  font-family: serif;
  line-height: 1.2 !important;
}

.grey-bg {
  background-color: #202332;
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes slide-x {
  0% {
    opacity: 0;
    transform: translateX(175%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2, 1.05);
  }
  100% {
    transform: scale(1);
  }
}

@media (min-width: 992px) {
  .pl-lg-5 {
    padding-left: 3rem !important;
  }

  .pr-lg-5 {
    padding-right: 3rem !important;
  }
}

@media (min-width: 1200px) {
  .d-xl-block {
    display: block !important;
  }
}

@media screen and (max-width: 991px) {
  .desktop-menu {
    display: none !important;
  }
}

@media screen and (max-width: 576px) {
  .images {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 0fr;
  }

  .title-text h2 {
    font-size: 3rem !important;
  }

  .imgTNU .roadmap-description p {
    font-size: 3rem !important;
  }

  .desktop-menu {
    display: none !important;
  }
}

.metamask-img,
.walletconnect-img {
  width: 3rem !important;
}

.metamask-title,
.walletconnect-title {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.metamask-txt,
.walletconnect-txt {
  font-size: 0.8rem;
  font-family: "roboto";
  font-weight: 300;
  letter-spacing: 1px;
}

.btn-connect-metamask {
  background-color: #fff !important;
  color: #000 !important;
}

.wallet-status-show {
  background-color: rgba(0, 0, 0, 0.5843137254901961);
  width: 6.82rem;
  top: 1.7rem;
  border-radius: 0.25rem;
}

.narrowLinks,
.wallet-status-show {
  text-align: center;
  position: absolute;
  animation: slide 0.3s;
  z-index: 1;
}

.wallet-status-show > p {
  color: #fff !important;
  font-size: 14px;
  font-weight: 600;
}

.border-bottom-grey {
  border-bottom: 1px solid grey;
}

.wallet-status-show p:hover {
  background-color: rgba(43, 131, 40, 0.5803921568627451);
}

.switch {
  padding: 20px;
  position: fixed;
  bottom: 20px;
  right: 0;
  background: 0;
  background-color: #fbab7e;
  border-radius: 20px 0 0 20px;
  background-image: linear-gradient(62deg, #fbab7e, #f7ce68);
  animation: pulse 4s infinite;
}

.Toastify .Toastify__toast-body > div {
  text-align: left !important;
  font-size: 0.7rem !important;
  line-height: 1rem !important;
  color: #fff;
}

.Toastify__toast-theme--light {
  background-color: #42a369 !important;
}

.btn-get-token {
  min-width: 150px;
  color: #000;
  box-shadow: 0 4px 0 0 #2f9e5b;
  background-color: #52cc83;
  outline: none;
  border: none;
  cursor: pointer;
  opacity: 1;
}

.btn-get-token:hover {
  opacity: 0.8;
}

.background-transparent:hover {
  background-color: transparent;
}

.background-transparent:focus {
  background-color: transparent;
}

.background-transparent {
  background-color: transparent !important;
}

.no-border {
  border: none !important;
}

.border-none {
  border: none !important;
}

.border-bottom-none {
  border-bottom: none !important;
}


.border-grey {
  border: 1px solid #5e5c5c !important;
}

.border-top-grey {
  border-top: 1px solid #5e5c5c !important;
}

.border-left-grey {
  border-left: 1px solid #5e5c5c !important;
}

.border-right-grey {
  border-right: 1px solid #5e5c5c !important;
}

.border-bottom-grey {
  border-bottom: 1px solid #5e5c5c !important;
}

.font-very-small {
  font-size: 14px !important;
  line-height: 1.3 !important;
}

.font-very-very-small {
  font-size: 10px !important;
  line-height: 1.1 !important;
}

.font-small {
  font-size: 0.7rem !important;
  line-height: 1.4 !important;
}

.font-big {
  font-size: 1.4rem !important;
}

.focus-shadow-none:focus {
  box-shadow: none;
}

.bold {
  font-weight: 600;
}

.slick-track {
  margin-left: 0 !important;
}

.border-color-black {
  border-color: black;
}

.border-1 {
  border: 1px Solid black;
}

.float-left {
  float: left !important;
}

.background-white {
  background-color: white !important;
}

.mint_modal > div > div {
  border: 1px solid white !important;
  background-color: black !important;
}

.mint_modal span {
  font-size: 1.5rem !important;
}

.btn-login-wallet {
  color: #000;
  box-shadow: 0 4px 0 0 #2f9e5b;
  background-color: #52cc83;
  outline: none;
  border: none;
  cursor: pointer;
  opacity: 1;
}

.btn-login-wallet:hover {
  opacity: 0.8;
}

.wallet-lock {
  width: 0.8rem;
}
